h1{
  font-size: 55px;
  margin-top: 0;
  text-align: center;
  font-family: Monotype Corsiva;
}

.message{
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
  font-size: 120%;
}

.contents {
  width: 50%;
  margin-left: 25%;
}

#week_time_form {
  display: flex;
  justify-content: space-between;

}

.form{
  width: 100%;
}

.input_form {
  border-bottom: 1px solid #d1d1d1;
  font-size: 100%;
  width: 20%;
  padding: 8px;
  margin-bottom: 20px;
}

.input_times{
  font-size: 120%;
  // font-weight: bold;
}
