h1{
  font-size: 55px;
  margin-top: 0;
  text-align: center;
  font-family: Monotype Corsiva;
}

.message{
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
  font-size: 120%;
}

.contents {
  width: 50%;
  margin-left: 25%;
}

#week_time_form {
  display: flex;
  justify-content: space-between;

}

.form{
  width: 100%;
}

.input_form {
  border-bottom: 1px solid #d1d1d1;
  font-size: 100%;
  width: 20%;
  padding: 8px;
  margin-bottom: 20px;
}

.input_times{
  font-size: 120%;
  // font-weight: bold;
}

//ボタン//////////////////////////////////////////

.submit_button{
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
  align-items: center; /* 縦方向中央揃え */
  -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
  justify-content: center; /* 横方向中央揃え */
}

.button_area {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
  align-items: center; /* 縦方向中央揃え */
  -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
  justify-content: center; /* 横方向中央揃え */

  margin-top: 30px;
}

//基本部分////
.button {
  text-decoration: none;
  display:block;
  width: 100%;
  background-color: #13d6f8;
  color: #fff;
  padding: 8px;
  font-size: 180%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  outline: none;
  margin-left: 100%;
}
.button::before,
.button::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.button,
.button::before,
.button::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
//基本部分ここまで////

.button:hover {
  // letter-spacing: 7px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}
//ボタンここまで//////////////////////////////////////////