h1{
  font-size: 350%;
  margin-top: 0;
  text-align: left;
  margin-left: 10%;
}
.title_area{
  display: flex;
  width: 100%;
  height: 100%;
  &__title{
    width: 80%;
  }
  &__logout_button{
    margin-top: 2%;
  }
}

.menubar{
  background-color: rgb(18, 116, 207);
  height: 50px;
}
.guide_message{
  font-size: 150%;
  color: white;
  //font-weight: bold;
  margin-left: 10%;
  line-height: 200%;
}