h1{
  font-size: 350%;
  margin-top: 0;
  text-align: left;
  margin-left: 10%;
}
.menubar{
  background-color: rgb(18, 116, 207);
  height: 50px;
}
.guide_message{
  font-size: 150%;
  color: white;
  //font-weight: bold;
  margin-left: 10%;
  line-height: 200%;
}