body {
  margin-left: 10%;
  margin-right: 10%;
}
h1{
  font-size: 55px;
  margin-top: 0;
  margin-left: 32%;
  text-align: center;
  font-family: Monotype Corsiva;
  display: inline;
}

.titile {
  display: flex;              /* フレックスボックスにする */
  // align-items:stretch;        /* 縦の位置指定 */
  justify-content: flex-end;
}

.logout_link {
  display: inline;
}

.ranking_link {
  display: inline;
}

.message{
  text-align: center;
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 120%;
}

.y_times{
  background-color: rgba(126, 117, 117, 0.212);
  width: 30%;
  
  &__scroll {
    height: 200px;
    width: 300px;
    overflow: scroll;
  }
}
