<h1>You will be</h1>
<p>あなたがなりたい姿はありますか?</p>
<p>じつは思っているよりも早くなれるかもしれません、、、</p>

<br>
<!--この部分は非表示にしてhoverすると表示されるようにする-->
<p>本アプリケーションの説明</p>
<p>①あなたがなりたい目標を決めてください</p>
<p>②あなたの普段の生活を教えてください、何週間で目標が達成可能か計算します</p>
<p>③日々積み上げた時間を記録しましょう</p>
<p>④他のひとの頑張りを見て励みにしましょう</p>
<!--非表示部ここまで-->


<% if user_signed_in? %>
  <%= link_to "はじめる" , goal_path(current_user.id) %>
<% else %>
  <%= link_to "ユーザー登録" , new_user_session_path %>
<% end %>

<br><br>
<!--別ページのリンクでも用意する-->
作った人: sakozo Twitter:~~~<br>
おすすめの本: 最短の時間で最大の成果を手に入れる  超効率勉強法  時間確保だけでなく効率を高めることも重要です <br>
影響を受けた動画: マット・カッツ  30日チャレンジ