<h1>You will be</h1>
<p>あなたがなりたい姿はありますか?</p>
<p>じつは思っているよりも早くなれるかもしれません、、、</p>

<% if user_signed_in? %>
  <%= link_to "はじめる" , goal_path(current_user.id) %>
<% else %>
  <%= link_to "ユーザー登録" , new_user_session_path %>
<% end %>
