<h1>You will be</h1>
<p>あなたがなりたい姿はありますか?</p>
<p>じつは思っているよりも早くなれるかもしれません、、、</p>

<% if user_signed_in? %>
<%= link_to "はじめるshow" , goal_path(current_user.id) %>
<% end %>
<%= link_to "はじめる(ユーザー登録)" , new_user_session_path %>
