<%= stylesheet_link_tag "book/top_page", :media => "all" %>
<h1>You will be...?</h1>
<div class="user">
    <p>By作者</p>
</div>
<div class="message">
<p>あなたがなりたい姿はありますか?</p>
<p>実は、思っているよりも早くなれるかもしれません…</p>
</div>

<br>


<% if user_signed_in? %>
  <div class="control">
  <%= link_to "はじめる" , goal_path(current_user.id), class: "button" %>
  </div>
<% else %>
  <div class="control">
  <%= link_to "ログイン・ユーザー登録" , new_user_session_path, class: "login_button" %>
  </div>
<% end %>

